<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<!--使用jdbc的getGeneratedKeys获取数据库自增主键值 -->
		<setting name="useGeneratedKeys" value="true" />
		<!--使用列别名替换别名 -->
		<setting name="useColumnLabel" value="true" />
		<!--开启驼峰命名转换 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<!-- <typeAliases> -->
	<!-- <typeAlias alias="UserAlias" -->
	<!-- type="org.apache.ibatis.submitted.complex_property.User" /> -->
	<!-- </typeAliases> -->

	<!-- <environments default="development"> -->
	<!-- <environment id="development"> -->
	<!-- <transactionManager type="JDBC"> -->
	<!-- <property name="" value="" /> -->
	<!-- </transactionManager> -->
	<!-- <dataSource type="UNPOOLED"> -->
	<!-- <property name="driver" value="org.gjt.mm.mysql.Driver" /> -->
	<!-- <property name="url" value="jdbc:mysql://localhost:3306/work" /> -->
	<!-- <property name="username" value="root" /> -->
	<!-- <property name="password" value="abcd7777" /> -->
	<!-- </dataSource> -->
	<!-- </environment> -->
	<!-- </environments> -->


	<!-- <mappers> -->
	<!-- <mapper resource="mapper/SeckillDAO.xml" /> -->
	<!-- <mapper resource="mapper/SuccessKilledDAO.xml" /> -->
	<!-- </mappers> -->

</configuration>